---
import { type CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const LATEST_POST = posts[0];
const comments = (await getCollection("comments")).sort(
  (last, recent) => recent.data.pubDate.valueOf() - last.data.pubDate.valueOf()
);
const LATEST_COMMENT = comments[0];
---

<article>
  <div class="items">
    <a class="link" href={`/posts/${LATEST_POST.slug}`}
      >{LATEST_POST.data.title}, <FormattedDate
        pubDate={LATEST_POST.data.pubDate}
      /></a
    >
    <p>
      {LATEST_POST.data.description}
      <br />
      <a class="link" href={`/posts/${LATEST_POST.slug}`}>Read more...</a>
    </p>
  </div>
</article>
<hr />
<article>
  <div class="items">
    <a class="link" href={`/posts/${LATEST_COMMENT.slug}`}><FormattedDate pubDate={LATEST_POST.data.pubDate} /></a>
    <p>
      {LATEST_COMMENT.body}
      <br />
      <a class="link" href={`/comments/all`}>Read more...</a>
    </p>
  </div>
</article>

<style>
  .link {
    color: white;
    text-decoration: underline;
  }

  hr {
    height: 2px;
    background-color: #242323;
    border-color: #242323;
    border-radius: 2px;
  }
</style>
